<div class="container py-5">
  <div class="row g-4 justify-content-center">
    <!-- Caixa 1 -->
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card h-100 text-center">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Criar Usuário</h5>
          <a routerLink="/create-user" class="btn btn-primary mt-3">Ir</a>
        </div>
      </div>
    </div>

    <!-- Caixa 2 -->
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card h-100 text-center">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Editar Usuário</h5>
          <a routerLink="/edit-user" class="btn btn-secondary mt-3">Ir</a>
        </div>
      </div>
    </div>

    <!-- Caixa 3 -->
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card h-100 text-center">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Listar Usuários</h5>
          <a routerLink="/list-users" class="btn btn-success mt-3">Ir</a>
        </div>
      </div>
    </div>

    <!-- Caixa 4 -->
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card h-100 text-center">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Deletar Usuário</h5>
          <a routerLink="/delete-user" class="btn btn-danger mt-3">Ir</a>
        </div>
      </div>
    </div>
  </div>
</div>
